@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-size: 7rem;
    font-weight: normal;
    font-family: 'Style Script', cursive;
}