h1, 
h2 {
  color: darkred;
}

.container {
  max-width: 75vh;
  max-height: 75vh;
  min-width: 75vh;
  min-height: 75vh;
  border-radius: 10px;
  margin: 100px auto;
  padding: 50px;
  background-color: pink;
  color: darkred;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container button {
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
}

.container button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container h4 {
  font-style: italic;
}

footer {
  margin: 200px 0px;
}
